body{
    height: 700px;
    width: 1400px;
    display: flex;
    background-color: #ECE5C7;
}
.left{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    background-image: url(./images/colorful-dog-paint-by-numbers.jpg);
    background-size: 800px 800px;
    width: 700px;
    height: 700px;
    background-color: black;
}
.main{
    color: #ECE5C7;
    font-weight: 900;
    font-size: 50pt;
    font-family: "open sans",sans-serif;
    display: flex;
    justify-content: center;
}
.footer{
    color: #ECE5C7;
    font-size: 22pt;
    font-family: "open sans",sans-serif;
    display: flex;
    justify-content: center;
    align-items: end;
}
.items{
    list-style: none;
    display: flex;
    gap: 55px;
}
.right{
    display: grid;
    width: 700px;
    height:700px;
}
.secondary{
    font-size: 32pt;
    font-family: sans-serif;
    color: #116A7B;
    display: flex;
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 120px;
}
.input-items{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 30px;    
    font-family: sans-serif;
    font-size: 28.3pt;
    color: #116A7B;
}
input{
    height: 72.4px;
    width: 654.2px;
    background-color: black;
    opacity: 0.1;
    color: #ECE5C7;
    font-size: 28.3pt;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 8px;     
}
.opacity{
    opacity: 0.4;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button-hyperlink{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 48px;
    font-family: sans-serif;
    font-size: 20pt;
    font-weight: 800;
}
button{
    background-color: #C2DEDC;
    border: #C2DEDC solid;
    color: #ECE5C7;
    font-size: 28.3pt;
    margin-top: 50px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: #ECE5C7;
}
.hyperlink{
    color: #C2DEDC;
}



